{% extends 'base.html' %} {% block content %}

<h2>Course Information of {{ course.get_long_title }}</h2>

<div>
  <ul>
    <li>Title: {{ course.get_long_title }}</li>
    <li>Subject: {{ course.subject }}</li>
    <li>Course number: {{ course.course_number }}</li>
    <li>Section: {{ course.section }}</li>
    <li>Term: {{ course.term }}</li>
    <li>Tutor: {{ course.tutor }}</li>
    <li>Syllabus: {{ course.syllabus }}</li>
  </ul>
</div>

<div>
  <h3>Sample Lectures</h3>
  <ul>
    {% for lecture in course.lecture_set.all %} {% if lecture.is_public %}
    <li>
      <a href="{% url 'public_lecture' lecture.id %}">{{ lecture }}</a>
    </li>
    {% else %} {% endif %} {% endfor %}
  </ul>
</div>

<div>
  <h3>Links</h3>
  <ul>
    <li><a href="{% url 'register_course' course.id %}">Register Course</a></li>
    <li><a href="{% url 'all_course_list' %}">All Courses List</a></li>
  </ul>
</div>

{% endblock %}
