{% extends 'base.html' %} {% block content %}

<h2>Registration</h2>

<div>
  <h3>
    Do you want to register the course {{ course.get_long_title }}? Click
    "Register" button to register.
  </h3>
  <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Register" />
  </form>
</div>

<div>
  <h3>Links</h3>
  <ul>
    <li>
      <a href="{% url 'course_introduction' course.id %}"
        >Back to Course Introduction</a
      >
    </li>
    <li><a href="{% url 'all_course_list' %}">List of All Courses</a></li>
    <li><a href="{% url 'student_course_list' %}">My Courses</a></li>
  </ul>
</div>

{% endblock %}
