{% extends 'base.html' %} {% block content %}

<h2>{{message}}</h2>
{% if is_right_student %} {% if is_activated %}
<div>
  <h3>Lecture Information</h3>
  <ul>
    <li>Course: {{lecture.course}}</li>
    <li>Title: {{lecture.title}}</li>
    <li>Week: {{lecture.week}}</li>
    <li>Syllabus: {{lecture.syllabus}}</li>
    <li>Midterm Review: {{lecture.is_midterm}}</li>
    <li>Final Review: {{lecture.is_final}}</li>
  </ul>
</div>

<div>
  <h3>Lecture Notes</h3>
  <ul>
    {% for note in lecture.notes_set.all %}
    <li>
      <a href="{{note.document.url}}" download="{{note.document.url}}"
        >{{note.title}}</a
      >
    </li>
    {% endfor %}
  </ul>
</div>

<div>
  <h3>Videos</h3>
  <ul>
    {% for video in lecture.vimeovideo_set.all %}
    <li>
      <a href="{% url 'student_video_detail' enrollment_id video.id %}"
        >{{video.title}}</a
      >
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
<h2>
  Warning: Your enrollment has not been activated, you cannot watch the video or
  download files.
</h2>
{% endif %}
<div>
  <h3>Links</h3>
  <ul>
    <li>
      <a href="{% url 'student_course_detail' enrollment_id %}"
        >Back to Course Detail</a
      >
    </li>
    <li><a href="{% url 'student_course_list' %}">Back to My Courses</a></li>
    <li><a href="{% url 'all_course_list' %}">List of All Courses</a></li>
  </ul>
</div>

{% else %} {% endif %} {% endblock %}
