{% extends 'base.html' %} {% block content %}

<h2>My Courses</h2>

<div>
  <h3>Registered Courses</h3>
  <ul>
    {% for enrollment in enrollment_list %}
    <li>
      {{ enrollment.course }}
      <a href="{% url 'student_course_detail' enrollment.id %}"
        >Enter the Course</a
      >
    </li>
    {% endfor %}
  </ul>
</div>

<div>
  <h3>Links</h3>
  <ul>
    <li><a href="{% url 'user_home' %}">Homepage</a></li>
    <li><a href="{% url 'all_course_list' %}">List of All Courses</a></li>
  </ul>
</div>

{% endblock %}
