{% extends 'base.html' %} {% block content %}

<h2>{{ message }}</h2>
{% if is_instructor %}
<div>
  <h3>Lecture Information</h3>
  <ul>
    <li>Course: {{ lecture.course.get_long_title }}</li>
    <li>Week: {{ lecture.week }}</li>
    <li>Title: {{ lecture.title }}</li>
    <li>Free sample lecture: {{ lecture.is_public }}</li>
    <li>Midterm review: {{ lecture.is_midterm }}</li>
    <li>Final review: {{ lecture.is_final }}</li>
    <li>Syllabus: {{ lecture.syllabus }}</li>
    <li>Created at: {{ lecture.created_at }}</li>
    <li>Updated at: {{ lecture.updated_at }}</li>
  </ul>
</div>

<div>
  <h3>Lecture Notes</h3>
  <ul>
    {% for note in lecture.notes_set.all %}
    <li>
      <a href="{{note.document.url}}" download="{{note.document.url}}"
        >{{note.title}}</a
      >
      <a href="{% url 'tutor_delete_note' note.id %}">Delete this note</a>
    </li>
    {% endfor %}
  </ul>
  <h4>Manage Notes</h4>
  <p>
    <a href="{% url 'tutor_create_note' lecture.id %}">Upload a New Notes</a>
  </p>
</div>

<div>
  <h3>Videos</h3>
  <ul>
    {% for video in lecture.vimeovideo_set.all %}
    <li>
      <a href="{% url 'tutor_video_detail' video.id %}">{{video.title}}</a>
      <a href="{% url 'tutor_delete_video' video.id %}">Delete this video</a>
    </li>
    {% endfor %}
  </ul>
  <h4>Manage Videos</h4>
  <p>
    <a href="{% url 'tutor_create_video' lecture.id %}">Upload a New Video</a>
  </p>
</div>

<div>
  <h3>Manage Lecture</h3>
  <ul>
    <li>
      <a href="{% url 'tutor_update_lecture' lecture.id %}">Edit Lecture</a>
    </li>
    <li>
      <a href="{% url 'tutor_delete_lecture' lecture.id %}">Delete Lecture</a>
    </li>
  </ul>
</div>

<div>
  <h3>Back to Course Detail</h3>
  <a href="{% url 'tutor_course_detail' lecture.course.id %}">Course Detail</a>
</div>
{% else %}
<div>
  <a href="{% url 'tutor_course_list' %}">Go Back to My Courses</a>
</div>
{% endif %} {% endblock %}
