{% extends 'base.html' %} {% block content %}

<h2>{{ message }}</h2>

{% if is_instructor %}
<div class="form-group col-6">
  <form method="post" class="form">
    {% csrf_token %} {{ form.as_p}}
    <input class="btn btn-primary" type="submit" value="Create Lecture" />
  </form>
</div>

<div>
  <h3>Back to Course Detail</h3>
  <a href="{% url 'tutor_course_detail' course.id %}">Course Detail</a>
</div>
{% else %}
<div>
  <a href="{% url 'tutor_course_list' %}">Go to my courses</a>
</div>
{% endif %} {% endblock %}
