{% extends 'base.html' %} {% block content %}

<div class="container">
  <h1>Welcome to index page</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus
    illum, unde culpa commodi cum distinctio sint similique laboriosam quis
    aspernatur repellendus nam tempora quibusdam eos voluptatibus eaque dolorum
    ut et fugit vel ea. Similique ratione, iusto repudiandae, impedit autem
    corporis veniam vero exercitationem ullam cupiditate quos voluptate
    nesciunt, laudantium non? Deleniti nisi libero itaque animi? Ea est quisquam
    incidunt facere impedit obcaecati numquam iusto saepe quo ab quae officia
    iste possimus, cum repellendus illum, laudantium totam architecto eum aut
    amet laboriosam, nesciunt magni. Distinctio magnam quo eum possimus rem
    excepturi officiis fugiat magni modi ad quibusdam, tenetur impedit?
    Voluptatum.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus
    illum, unde culpa commodi cum distinctio sint similique laboriosam quis
    aspernatur repellendus nam tempora quibusdam eos voluptatibus eaque dolorum
    ut et fugit vel ea. Similique ratione, iusto repudiandae, impedit autem
    corporis veniam vero exercitationem ullam cupiditate quos voluptate
    nesciunt, laudantium non? Deleniti nisi libero itaque animi? Ea est quisquam
    incidunt facere impedit obcaecati numquam iusto saepe quo ab quae officia
    iste possimus, cum repellendus illum, laudantium totam architecto eum aut
    amet laboriosam, nesciunt magni. Distinctio magnam quo eum possimus rem
    excepturi officiis fugiat magni modi ad quibusdam, tenetur impedit?
    Voluptatum.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus
    illum, unde culpa commodi cum distinctio sint similique laboriosam quis
    aspernatur repellendus nam tempora quibusdam eos voluptatibus eaque dolorum
    ut et fugit vel ea. Similique ratione, iusto repudiandae, impedit autem
    corporis veniam vero exercitationem ullam cupiditate quos voluptate
    nesciunt, laudantium non? Deleniti nisi libero itaque animi? Ea est quisquam
    incidunt facere impedit obcaecati numquam iusto saepe quo ab quae officia
    iste possimus, cum repellendus illum, laudantium totam architecto eum aut
    amet laboriosam, nesciunt magni. Distinctio magnam quo eum possimus rem
    excepturi officiis fugiat magni modi ad quibusdam, tenetur impedit?
    Voluptatum.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus
    illum, unde culpa commodi cum distinctio sint similique laboriosam quis
    aspernatur repellendus nam tempora quibusdam eos voluptatibus eaque dolorum
    ut et fugit vel ea. Similique ratione, iusto repudiandae, impedit autem
    corporis veniam vero exercitationem ullam cupiditate quos voluptate
    nesciunt, laudantium non? Deleniti nisi libero itaque animi? Ea est quisquam
    incidunt facere impedit obcaecati numquam iusto saepe quo ab quae officia
    iste possimus, cum repellendus illum, laudantium totam architecto eum aut
    amet laboriosam, nesciunt magni. Distinctio magnam quo eum possimus rem
    excepturi officiis fugiat magni modi ad quibusdam, tenetur impedit?
    Voluptatum.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus
    illum, unde culpa commodi cum distinctio sint similique laboriosam quis
    aspernatur repellendus nam tempora quibusdam eos voluptatibus eaque dolorum
    ut et fugit vel ea. Similique ratione, iusto repudiandae, impedit autem
    corporis veniam vero exercitationem ullam cupiditate quos voluptate
    nesciunt, laudantium non? Deleniti nisi libero itaque animi? Ea est quisquam
    incidunt facere impedit obcaecati numquam iusto saepe quo ab quae officia
    iste possimus, cum repellendus illum, laudantium totam architecto eum aut
    amet laboriosam, nesciunt magni. Distinctio magnam quo eum possimus rem
    excepturi officiis fugiat magni modi ad quibusdam, tenetur impedit?
    Voluptatum.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus
    illum, unde culpa commodi cum distinctio sint similique laboriosam quis
    aspernatur repellendus nam tempora quibusdam eos voluptatibus eaque dolorum
    ut et fugit vel ea. Similique ratione, iusto repudiandae, impedit autem
    corporis veniam vero exercitationem ullam cupiditate quos voluptate
    nesciunt, laudantium non? Deleniti nisi libero itaque animi? Ea est quisquam
    incidunt facere impedit obcaecati numquam iusto saepe quo ab quae officia
    iste possimus, cum repellendus illum, laudantium totam architecto eum aut
    amet laboriosam, nesciunt magni. Distinctio magnam quo eum possimus rem
    excepturi officiis fugiat magni modi ad quibusdam, tenetur impedit?
    Voluptatum.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus
    illum, unde culpa commodi cum distinctio sint similique laboriosam quis
    aspernatur repellendus nam tempora quibusdam eos voluptatibus eaque dolorum
    ut et fugit vel ea. Similique ratione, iusto repudiandae, impedit autem
    corporis veniam vero exercitationem ullam cupiditate quos voluptate
    nesciunt, laudantium non? Deleniti nisi libero itaque animi? Ea est quisquam
    incidunt facere impedit obcaecati numquam iusto saepe quo ab quae officia
    iste possimus, cum repellendus illum, laudantium totam architecto eum aut
    amet laboriosam, nesciunt magni. Distinctio magnam quo eum possimus rem
    excepturi officiis fugiat magni modi ad quibusdam, tenetur impedit?
    Voluptatum.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus
    illum, unde culpa commodi cum distinctio sint similique laboriosam quis
    aspernatur repellendus nam tempora quibusdam eos voluptatibus eaque dolorum
    ut et fugit vel ea. Similique ratione, iusto repudiandae, impedit autem
    corporis veniam vero exercitationem ullam cupiditate quos voluptate
    nesciunt, laudantium non? Deleniti nisi libero itaque animi? Ea est quisquam
    incidunt facere impedit obcaecati numquam iusto saepe quo ab quae officia
    iste possimus, cum repellendus illum, laudantium totam architecto eum aut
    amet laboriosam, nesciunt magni. Distinctio magnam quo eum possimus rem
    excepturi officiis fugiat magni modi ad quibusdam, tenetur impedit?
    Voluptatum.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus
    illum, unde culpa commodi cum distinctio sint similique laboriosam quis
    aspernatur repellendus nam tempora quibusdam eos voluptatibus eaque dolorum
    ut et fugit vel ea. Similique ratione, iusto repudiandae, impedit autem
    corporis veniam vero exercitationem ullam cupiditate quos voluptate
    nesciunt, laudantium non? Deleniti nisi libero itaque animi? Ea est quisquam
    incidunt facere impedit obcaecati numquam iusto saepe quo ab quae officia
    iste possimus, cum repellendus illum, laudantium totam architecto eum aut
    amet laboriosam, nesciunt magni. Distinctio magnam quo eum possimus rem
    excepturi officiis fugiat magni modi ad quibusdam, tenetur impedit?
    Voluptatum.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus
    illum, unde culpa commodi cum distinctio sint similique laboriosam quis
    aspernatur repellendus nam tempora quibusdam eos voluptatibus eaque dolorum
    ut et fugit vel ea. Similique ratione, iusto repudiandae, impedit autem
    corporis veniam vero exercitationem ullam cupiditate quos voluptate
    nesciunt, laudantium non? Deleniti nisi libero itaque animi? Ea est quisquam
    incidunt facere impedit obcaecati numquam iusto saepe quo ab quae officia
    iste possimus, cum repellendus illum, laudantium totam architecto eum aut
    amet laboriosam, nesciunt magni. Distinctio magnam quo eum possimus rem
    excepturi officiis fugiat magni modi ad quibusdam, tenetur impedit?
    Voluptatum.
  </p>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur doloribus
    illum, unde culpa commodi cum distinctio sint similique laboriosam quis
    aspernatur repellendus nam tempora quibusdam eos voluptatibus eaque dolorum
    ut et fugit vel ea. Similique ratione, iusto repudiandae, impedit autem
    corporis veniam vero exercitationem ullam cupiditate quos voluptate
    nesciunt, laudantium non? Deleniti nisi libero itaque animi? Ea est quisquam
    incidunt facere impedit obcaecati numquam iusto saepe quo ab quae officia
    iste possimus, cum repellendus illum, laudantium totam architecto eum aut
    amet laboriosam, nesciunt magni. Distinctio magnam quo eum possimus rem
    excepturi officiis fugiat magni modi ad quibusdam, tenetur impedit?
    Voluptatum.
  </p>
</div>

{% endblock %}
